developmentbasics/src/main/mule/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="choiceFlow" doc:id="d6028eb4-9958-4b8a-b1da-5c40f1cd9907" >
		<http:listener doc:name="Listener" doc:id="5545b7ae-1029-4268-a6e9-51d19b53be64" config-ref="HTTP_Listener_config" path="/choice/{language}">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- "value is $payload for provided language $(attributes.uriParams.language)"]]]></http:body>
			</http:response>
		</http:listener>
		<set-variable value="#[upper(attributes.uriParams.language)]" doc:name="Set Variable" doc:id="7defe3f4-0723-4990-996b-13a76034696f" variableName="language"/>
		<choice doc:name="Choice" doc:id="a3c4dfc9-d0dd-45a5-9a22-f79de7ab103d" >
			<when expression='#[vars.language == upper("english")]'>
				<set-payload value="ENGLISH" doc:name="Set Payload" doc:id="9414a62d-6f4d-47c1-aaf7-3a9c86af2721" />
				<logger level="INFO" doc:name="Logger" doc:id="4891ae42-22b1-423c-8f5f-86a694b63d51" message="english" />
			</when>
			<when expression='#[vars.language == upper("spanish")]'>
				<set-payload value="SPANISH" doc:name="Set Payload" doc:id="c8c22cc7-d250-4546-a349-fbd1446de930" />
				<logger level="INFO" doc:name="Logger" doc:id="7cee5e12-86c5-4d1a-9a02-633097d69f0c" message="spanish"/>
			</when>
			<when expression='#[vars.language == upper("telugu")]'>
				<set-payload value="TELUGU" doc:name="Set Payload" doc:id="87ec095a-7980-4fc4-a3fc-befc6cce631e" />
				<logger level="INFO" doc:name="Logger" doc:id="0cb45fc0-aa2d-4afc-9d6c-b837b125ba51" message="telugu"/>
			</when>
			<otherwise >
				<set-payload value="other than specified languages" doc:name="Set Payload" doc:id="f288ea23-2b4b-40b7-98ae-4de3d075fefa" />
				<logger level="INFO" doc:name="Logger" doc:id="c733ed44-c15c-4104-8ef5-7dd22a7b7daf" message="other than specified languages" />
			</otherwise>
		</choice>
	</flow>
</mule>
