basics/src/main/mule/BasicTransformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_8081" doc:name="HTTP Listener config" doc:id="31e469c0-fe1d-4ab2-b6d9-45574aaa8645" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="BasicTransformationFlow" doc:id="91eee003-fe8b-4609-9009-0cd40c5eed9c" >
		<http:listener doc:name="Listener" doc:id="07e83a92-3cf0-4fa7-9e92-b875d4d554ff" config-ref="HTTP_Listener_8081" path="/basictransform"/>
		<ee:transform doc:name="Transform Message" doc:id="7c76c8b7-bf8e-4b4d-996a-1c7932680907" >
			<ee:message >
				<ee:set-payload resource="productSingle.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="pname.dwl" variableName="productname" />
				<ee:set-variable variableName="pid" ><![CDATA[%dw 2.0
output application/java
---
payload.productId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9249090d-1741-4c15-a729-89a45c0a3730" message="#[payload]"/>
	</flow>
</mule>
