developmentbasics2/src/main/mule/MongoDB.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="30b53e74-beeb-4966-b281-07eb74180453" >
		<mongo:connection database="anilgundra" >
			<mongo:server-addresses >
				<mongo:server-address host="localhost" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<flow name="MongoDBFlow" doc:id="03546982-2b9a-4be7-89d5-a32b1a60be18" >
		<http:listener doc:name="Listener" doc:id="d5c095aa-00dd-4ec8-b948-a1212c2d1d80" config-ref="HTTP_Listener_config" path="/mongolist/{name}">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		<choice doc:name="Choice" doc:id="97949a0f-6662-4429-9436-e9e769092001" >
			<when expression="#[attributes.uriParams.name == 'find']">
				<mongo:find-documents doc:name="Find documents" doc:id="1e916515-0491-4cac-8b95-128923046805" config-ref="MongoDB_Config" collectionName="table" fields="name">
		</mongo:find-documents>
			</when>
			<when expression="#[attributes.uriParams.name == 'file']">
				<flow-ref doc:name="Flow Reference" doc:id="a4cc6458-a068-47ba-a757-2cc32818c61e" name="createFile"/>
			</when>
			<when expression="#[attributes.uriParams.name == 'findfiles']">
				<flow-ref doc:name="Flow Reference" doc:id="a64983c5-8152-43fa-a18c-667564ff891c" name="findfiles"/>
			</when>
			<when expression="#[attributes.uriParams.name == 'listcollections']">
				<flow-ref doc:name="Flow Reference" doc:id="afdad13a-efc1-486c-8975-2720f51a7e97" name="listcollections"/>
			</when>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="1d445757-ef2b-4e69-8b9f-e0c9c4af34ae" />
	</flow>
	<flow name="createFile" doc:id="e7c67af5-467b-41cf-a21f-acfd5b12a1a1" >
		<mongo:create-file doc:name="Create file" doc:id="382ce47f-1346-48c5-898a-c46d1f734c21" config-ref="MongoDB_Config" filename="mydata">
			<mongo:content ><![CDATA[#[{
}]]]></mongo:content>
		</mongo:create-file>
	</flow>
	<flow name="dropindex" doc:id="f1a5c9f1-80da-4afb-853e-782090760f85" >
		<mongo:drop-index doc:name="Drop index" doc:id="90398972-d359-43d1-aaf8-dfc7fdbf5189" config-ref="MongoDB_Config" collectionName="fs.files" indexName="filename_1_uploadDate_1"/>
	</flow>
	<flow name="findfiles" doc:id="6c512899-a031-4bcd-ac78-9796f04fdb8b" >
		<mongo:find-files doc:name="Find files" doc:id="c73a4a10-66b0-4d9f-8f29-d5bdd5d4f1f0" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#['db.fs.files.find()']]]></mongo:query>
		</mongo:find-files>
	</flow>
	<flow name="listcollections" doc:id="77bb7c19-4efe-43db-ba97-67ec30d896f3" >
		<mongo:list-collections doc:name="List collections" doc:id="645ba045-9f7c-4ea1-b139-7688fd1615b7" config-ref="MongoDB_Config"/>
	</flow>

</mule>
